* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle at bottom, #1b2735 0%, #090a0f 100%);
  border: 2px solid black;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: "Pixelify Sans", sans-serif;
  color: white;
  user-select: none;
}

.game-screen {
  display: none;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.scoreContainer {
  display: flex;
  flex-direction: column;
  width: 15%;
  margin-right: 0px;
  align-items: center;
  padding-top: 20px;
}

.highScoreBox, .scoreBox, .targetBox, .healBox {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(20, 20, 20, 0.6);
  backdrop-filter: blur(5px);
  border: 2px solid #00ffcc;
  box-shadow: 0 0 10px #00ffcc, inset 0 0 10px rgba(0, 255, 204, 0.2);
  border-radius: 12px;
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 20px;
  padding: 10px 0;
}

.targetBox img, .healBox img {
    border-radius: 50%;
    margin: 10px 0;
    border: 3px solid;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.targetBox img { border-color: #ff3333; }
.healBox img { border-color: #33ff33; }

.gameContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin-left: 0;
  position: relative;
}

.lifeContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#levelText {
  position: absolute;
  color: white;
  font-size: 4rem;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 0 0 10px cyan;
  pointer-events: none;
}

.lifeBox {
  height: 100%;
  width: 40px;
  background-color: #00ff00;
  border: 1px solid rgba(255,255,255,0.5);
  margin: 0 4px;
  transform: skewX(-20deg);
  box-shadow: 0 0 5px #00ff00;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.targetContainer {
  display: flex;
  flex-direction: column;
  width: 15%;
  align-items: center;
  padding-top: 20px;
}

.SHOOT_THE_KOMSAI_Canvas {
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top: 2px solid #ffffff;
  user-select: none;
  max-height: 10vh;
  background: rgba(0,0,0,0.5);
}

.pixelify-sans-text {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
  max-width: 50%;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 0 #000, 0 0 10px rgba(255, 255, 255, 0.5);
}

#gameCanvas {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
}